{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-named-as-default": 0,
    "jsx-a11y/anchor-is-valid": 0
  },
  "env": {
    "browser": true,
    "jest": true
  }
}