@font-face {
  font-family: CircularStd;
  src: url('fonts/circularstd-book-webfont.woff2') format('woff2');
}

@font-face {
  font-family: CircularStdBold;
  src: url('fonts/circularstd-bold-webfont.woff2') format('woff2');
}

body {
  font-family: 'CircularStd', Fallback, sans-serif;
}